.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginBox {
  display: flex;
  flex-direction: column;
  min-width: 610px;
  min-height: 536px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 8px 30px #0000004d;
}

.twoStepText {
  font-size: 24px;
  color: #0c1e30;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 33px;
  margin-bottom: 38px;
  text-align: center;
}

.twoStepVerificationText {
  font-size: 14px;
  margin-bottom: 48px;
  color: #0c1e30;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 19px;
  text-align: center;
}

.issueText {
  text-align: center;
  color: #767676;
  font-size: 14px;
  margin-top: 20px;
  line-height: 19px;
}

.getSmsText {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: #0460e3;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
