.name {
  width: 720px;
}

.buttonGroup {
  width: 720px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.boxContainer {
  width: 720px;
  border: 1px solid #d8e2f0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 24px;
}

.featuresHeading {
  align-items: center;
  background-color: #f1f4f9;
  color: #0c1e30;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 35px;
  justify-content: center;
  border-bottom: 1px solid #d8e2f0;
  border-right: 1px solid #d8e2f0;
  border-top-left-radius: 10px;
}

.permissionsHeading {
  align-items: center;
  background-color: #f1f4f9;
  color: #0c1e30;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 35px;
  justify-content: center;
  border-bottom: 1px solid #d8e2f0;
  border-right: 1px solid #d8e2f0;
  border-top-right-radius: 10px;
}

.tableData {
  align-items: center;
  background-color: var(--cm9);
  border-bottom: 1px solid #d8e2f0;
  border-right: 1px solid #d8e2f0;
  color: #0c1e30;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  height: 35px;
  justify-content: start;
  padding-left: 25px;
}

.tableDatas {
  align-items: center;
  background-color: var(--cm9);
  border-bottom: 1px solid #d8e2f0;
  border-right: 1px solid #d8e2f0;
  color: #0c1e30;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  height: 35px;
  justify-content: center;
}

.editTableData {
  align-items: center;
  background-color: #0000;
  border-bottom: 1px solid #d8e2f0;
  border-right: 1px solid #d8e2f0;
  color: #0c1e30;
  display: flex;
  font-size: 14px;
  height: 35px;
  justify-content: start;
  padding-left: 48px;
}

.cancelButton {
  display: flex;
  padding: 7px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 10px;
}
