.chip {
  height: 24px;
  width: 108px;
  display: inline-block;
  cursor: default;
  box-sizing: border-box;

  &__text {
    &--red {
      color: #e32b25;
      font-weight: bold;
      display: flex;
      height: 100%;
      justify-content: start;
      align-items: center;
      box-sizing: border-box;
      font-size: 14px;
      letter-spacing: 0.19px;
      line-height: 24px;
    }
    &--green {
      color: #008a05;
      font-weight: bold;
      display: flex;
      height: 100%;
      justify-content: start;
      align-items: center;
      box-sizing: border-box;
      font-size: 14px;
      letter-spacing: 0.19px;
      line-height: 24px;
    }
    &--orange {
      color: #ffa701;
      font-weight: bold;
      display: flex;
      height: 100%;
      justify-content: start;
      align-items: center;
      box-sizing: border-box;
      font-size: 14px;
      letter-spacing: 0.19px;
      line-height: 24px;
    }
    &--grey {
      color: #767676;
      font-weight: bold;
      display: flex;
      height: 100%;
      justify-content: start;
      align-items: center;
      box-sizing: border-box;
      font-size: 14px;
      letter-spacing: 0.19px;
      line-height: 24px;
    }
  }
}
