.login_password_input {
  position: relative;
  width: 100%;
}
.view_password {
  position: absolute;
  top: 11px;
  right: 12px;
  font-size: 19px;
  color: var(--cgray);
}
.hovered_color {
  border: 1px solid var(--cbl11);
  box-shadow: 0px 1px 3px var(--cgy6);
}
