.chips {
    height: 24px;
    width: 108px;
    display: inline-block;
    cursor: default;
    box-sizing: border-box;

    &__text {
        &--blue {
            color: #1d86be;
            font-weight: bold;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            font-size: 14px;
            letter-spacing: 0.19px;
            line-height: 24px;
        }
        &--red {
            color: #e32b25;
            font-weight: bold;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            font-size: 14px;
            letter-spacing: 0.19px;
            line-height: 24px;
        }
        &--green {
            color: #008a05;
            font-weight: bold;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            font-size: 14px;
            letter-spacing: 0.19px;
            line-height: 24px;
        }
        &--orange {
            color: #ffa701;
            font-weight: bold;
            display: flex;
            height: 100%;
            justify-content: start;
            align-items: center;
            box-sizing: border-box;
            font-size: 14px;
            letter-spacing: 0.19px;
            line-height: 24px;
        }
        &--light-gray {
            color: #767676;
            font-weight: bold;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            font-size: 14px;
            letter-spacing: 0.19px;
            line-height: 24px;
        }
        &--light-black {
            color: #eff2f8;
            font-weight: bold;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            font-size: 14px;
            letter-spacing: 0.19px;
            line-height: 24px;
        }
    }
    &--blue {
        background-color: #e8f3f9;
        border-radius: 8px;
    }
    &--red {
        background-color: #fce9e8;
        border-radius: 8px;
    }
    &--green {
        background-color: #e5f3e5;
        border-radius: 8px;
    }
    &--light-gray {
        background-color: #ededed;
        border-radius: 8px;
    }
    &--light-black {
        background-color: #767676;
        border-radius: 8px;
    }
}