.tabs {
  display: flex;
  justify-content: space-between;
}

.deleteText {
  font-size: 16px;
  line-height: 22px;
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
}

.deleteHeading {
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
}
